<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stella Spa</title>

</head>
<body>

 <header class="header">

    <div class="menu container">

        <a href="#" class="logo"></a>
        <input type="checkbox" id="menu">
        <label for="menu">
            <img src="/assets/imagenes/ENTRADA.webp" class="menu-icono" alt="">
        </label>
        <nav class="navspa">
            <ul>
            <li> <a href="/login">Inicio</a></li>
            <li> <a href="https://wa.me/593978793148" target="_blank">Contacto</a></li>
            </ul>

        </nav>
 </div>

<div class="header-content container">
    <div class="header-txt">
        <h1>STELLA-SPA</h1>
      <p> Bienvenidos a mi consultorio de Estética y Cosmetologia
      </p>
      <a href="#" class="btn-1" >Informacion</a>

    </div>

    <div class="header-dir">

        <div class="dir">
            <h3>Dirección</h3>
            <p>Urb. Castilla & Recreo city</p>

        </div>

        <div class="dir">
            <h3>Teléfono</h3>
            <p>+593978793148</p>

        </div>

        <div class="dir">
            <h3>Horarios</h3>
            <p>08:30 - 19:00</p>

        </div>

    </div>
</div>
 </header>
    
<section class="welcome">
    <div class="welcome-1"></div>

    <div class="welcome-2">

        <h2>Bienvenidos A STELLA SPA</h2>
        <P class="b1">
            Stella Spa — Siempre disponible
Bienvenidos a mi consultorio de Estética y Cosmetologia

        </P>

        <p>
         TU MEJOR OPCIÓN
        </p>

        <a href="#" class="btn-1">Informacion</a>

    </div>


</section>

<main class="servicies container" >

    <div class="servicies-txt">
        <h2>Nuestros servicios</h2>
        <hr>
        <p>
            Stella Spa 
        </p>

    </div>

    <div class="servicies-group">
        <div class="services-1">
            <img src="/assets/imagenes/a1.jpeg" alt="">
            <h3>Servicio 1</h3>
            <p>
                LIMPIEZA FACIAL
            </p>
            <a href="#">Saber mas</a>

        </div>

        <div class="services-1">
            <img src="/assets/imagenes/Peeling Facial..webp" alt="">
            <h3>Servicio 2</h3>
            <p>
                Peeling Facial
            </p>
            <a href="#">Saber mas</a>

        </div>

        <div class="services-1">
            <img src="/assets/imagenes/Punta de Diamante.webp" alt="">
            <h3>Servicio 3</h3>
            <p>
                Punta de diamante
            </p>
            <a href="#">Saber mas</a>

        </div>

        <div class="services-1">
            <img src="/assets/imagenes/Peeling corporal.jpeg" alt="">
            <h3>Servicio 4</h3>
            <p>
                Peeling corporal
            </p>
            <a href="#">Saber mas</a>

        </div>

        <div class="services-1">
            <img src="/assets/imagenes/Mascara de oro..webp" alt="">
            <h3>Servicio 5</h3>
            <p>
                Mascara de oro
            </p>
            <a href="#">Saber mas</a>

        </div>


        <div class="services-1">
            <img src="/assets/imagenes/Lifting de pestañas.webp" alt="">
            <h3>Servicio 6</h3>
            <p>
                Lifting de pestañas
            </p>
            <a href="#">Saber mas</a>

        </div>

        <div class="services-1">
            <img src="/assets/imagenes/Despierta tu juventud Plasma infusión.webp" alt="">
            <h3>Servicio 7</h3>
            <p>
                Despierta tu juventud Plasma infusión
            </p>
            <a href="#">Saber mas</a>

        </div>

        <div class="services-1">
            <img src="/assets/imagenes/Electrocauterizacion de nevos.webp" alt="">
            <h3>Servicio 8</h3>
            <p>
                Electrocauterizacion de nevos
            </p>
            <a href="#">Saber mas</a>

        </div>

        <div class="services-1">
            <img src="/assets/imagenes/Yeso reductor, cintura, brazos y piernas.webp" alt="">
            <h3>Servicio 9</h3>
            <p>
                Yeso reductor, cintura, brazos y piernas
            </p>
            <a href="#">Saber mas</a>

        </div>

        <div class="services-1">
            <img src="/assets/imagenes/Epilación con cera Piernas, bigote.webp" alt="">
            <h3>Servicio 10</h3>
            <p>
                Epilación con cera, Piernas, bigote
            </p>
            <a href="#">Saber mas</a>

        </div>

        <div class="services-1">
            <img src="/assets/imagenes/Desintoxicación ionica.webp" alt="">
            <h3>Servicio 11</h3>
            <p>
                Desintoxicación ionica
            </p>
            <a href="#">Saber mas</a>

        </div>

        <div class="services-1">
            <img src="/assets/imagenes/Vacum Terapia Medica.webp" alt="">
            <h3>Servicio 12</h3>
            <p>
                Vacum Terapia Medica.
            </p>
            <a href="#">Saber mas</a>

        </div>

        <div class="services-1">
            <img src="/assets/imagenes/Tratamiento De Celulitis.webp" alt="">
            <h3>Servicio 13</h3>
            <p>
                Tratamiento De Celulitis
            </p>
            <a href="#">Saber mas</a>

        </div>

        <div class="services-1">
            <img src="/assets/imagenes/Drenaje Linfático Post - Quirúrgico(DLM).webp" alt="">
            <h3>Servicio 14</h3>
            <p>
                Drenaje Linfático Post - Quirúrgico(DLM)

            </p>
            <a href="#">Saber mas</a>

        </div>

        <div class="services-1">
            <img src="/assets/imagenes/Tratamiento Reductores..webp" alt="">
            <h3>Servicio 15</h3>
            <p>
                Tratamiento Reductores.
      Papada, Brazos, Cintura, Piernas, etc..
            </p>
            <a href="#">Saber mas</a>

        </div>

        <div class="services-1">
            <img src="/assets/imagenes/Glúteos Perfectos.webp" alt="">
            <h3>Servicio 16</h3>
            <p>
                Glúteos Perfectos.
       Tonifica, Reafirma, Levanta y Moldea tus Glúteos
            </p>
            <a href="#">Saber mas</a>

        </div>


    </div>
    <a href="#" class="btn-1">Informacion</a>
</main>


</body>
</html>