<div class="card">
    <p-menubar [model]="items">
        >
        <ng-template #start>
            <svg width="33" height="35" viewBox="0 0 33 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.1934 0V0V0L0.0391235 5.38288L2.35052 25.3417L15.1934 32.427V32.427V32.427L28.0364 25.3417L30.3478 5.38288L15.1934 0Z" fill="var(--primary-color)" />
                <mask id="mask0_1_36" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="31" height="33">
                    <path d="M15.1934 0V0V0L0.0391235 5.38288L2.35052 25.3417L15.1934 32.427V32.427V32.427L28.0364 25.3417L30.3478 5.38288L15.1934 0Z" fill="var(--primary-color-text)" />
                </mask>
                
                <image href="assets/spa_ini.jpg" x="-1" y="0" width="35" height="35"/>

                <path
                    d="M19.6399 15.3776L18.1861 15.0547L19.3169 16.6695V21.6755L23.1938 18.4458V12.9554L21.4169 13.6013L19.6399 15.3776Z"
                    fill="var(--ground-background)"
                />
                <path
                    d="M10.5936 15.3776L12.0474 15.0547L10.9166 16.6695V21.6755L7.03966 18.4458V12.9554L8.81661 13.6013L10.5936 15.3776Z"
                    fill="var(--ground-background)"
                />
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M11.3853 16.9726L12.6739 15.0309L13.4793 15.5163H16.7008L17.5061 15.0309L18.7947 16.9726V24.254L17.8283 25.7103L16.7008 26.843H13.4793L12.3518 25.7103L11.3853 24.254V16.9726Z"
                    fill="var(--ground-background)"
                />
                <path d="M19.3168 24.7437L21.4168 22.6444V20.5451L19.3168 22.3214V24.7437Z" fill="var(--ground-background)" />
                <path d="M10.9166 24.7437L8.81662 22.6444V20.5451L10.9166 22.3214V24.7437Z" fill="var(--ground-background)" />
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M13.0167 5.68861L11.7244 8.7568L13.8244 14.8932H14.7936V5.68861H13.0167ZM15.4397 5.68861V14.8932H16.5706L18.5091 8.7568L17.2167 5.68861H15.4397Z"
                    fill="var(--ground-background)"
                />
                <path
                    d="M13.8244 14.8932L6.87813 12.3094L5.90888 8.27235L11.8859 8.7568L13.9859 14.8932H13.8244Z"
                    fill="var(--ground-background)"
                />
                <path
                    d="M16.5706 14.8932L23.5169 12.3094L24.4861 8.27235L18.3476 8.7568L16.4091 14.8932H16.5706Z"
                    fill="var(--ground-background)"
                />
                <path
                    d="M18.8321 8.27235L22.2245 7.94938L19.9629 5.68861H17.7013L18.8321 8.27235Z"
                    fill="var(--ground-background)"
                />
                <path
                    d="M11.4013 8.27235L8.00893 7.94938L10.2705 5.68861H12.5321L11.4013 8.27235Z"
                    fill="var(--ground-background)"
                />
            </svg>
        </ng-template>
        <ng-template #item let-item let-root="root">
            <a pRipple class="flex items-center p-menubar-item-link">
                <span>{{ item.label }}</span>
                <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
                <span *ngIf="item.shortcut" class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1">{{ item.shortcut }}</span>
                <i *ngIf="item.items" [ngClass]="['ml-auto pi', root ? 'pi-angle-down' : 'pi-angle-right']"></i>
            </a>
        </ng-template>
        <ng-template #end>
            <div class="flex items-center gap-2">
            </div>
        </ng-template>
    </p-menubar>

    <div class="card flex justify-center">
        <h1>AGENDA DE CONSULTAS</h1>  

        <p-button (click)="showDialog()" label="+ AGENDAR CONSULTA" severity="info"/>
        <p-dialog header="AGENDAR CITA" [modal]="true" [(visible)]="visible"  [style]="{ width: '25rem', height: '40rem' }">
           
    <form [formGroup]="addConsulta" (ngSubmit)="AgregarConsulta()">
        <div class="mb-4 flex items-center">
            <label for="telefono" class="font-semibold w-24">Numero de telefono: </label>
            <div>
            <input pInputText id="telefono" formControlName="telefono" class="w-full p-2 border border-gray-300 rounded-md" />
            </div>
        </div>
        <br>
        <div class="mb-4 flex items-center">
            <label for="fecha" class="font-semibold w-24">Fecha: </label>
            <div>
            <p-datepicker 
            formControlName="fecha" 
            [showButtonBar]="true" 
            [minDate] = "minDate2" 
            />
            </div>
        </div>
        <br>
        <div class="mb-10 flex items-center">
            <label for="hora" class="font-semibold w-24">Hora: </label>
                <div>
                <input type="time" formControlName="hora" class="form-control" step="1800">
                </div>

        </div>
        <br>
        <br>
            <div class="flex justify-end gap-2">
                <p-button type="submit" label="Agendar" class="p-button-success" />
            </div>
            
        </form>

        </p-dialog>
        
    </div>

    <div>
        <p-toast></p-toast>
        <div class="card">
            <p-table 
            [value]="agendas" 
            dataKey="_id" 
            editMode="row" 
            stripedRows [tableStyle]="{ 'min-width': '50rem' }"
            [paginator]="true" 
            [rows]="10" 
            [rowsPerPageOptions]="[5, 10, 15]" 
            [showCurrentPageReport]="true">
                <ng-template #header>
                    <tr>
                        <th  style="width:5%">#</th>
                        <th  style="width:20%">Nombre</th>
                        <th  style="width:20%">Fecha</th>
                        <th  style="width:20%">Hora</th>
                        <th  style="width:10%">Estado</th>
                        <th  style="width:5%"></th>
                        <th  style="width:5%"></th>
                        

                    </tr>
                </ng-template>
                <ng-template #body let-agenda of agendas let-i="rowIndex" let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="agenda">
                        <td> {{ i+1 }} </td>
                        <td>
                            <p-cellEditor>
                                <ng-template #input>
                                    <input
                                        pInputText type="text"
                                        [(ngModel)]="agenda.nombre" />
                                </ng-template>
                                <ng-template #output>
                                    {{agenda.nombre}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template #input>
                                    <input
                                        pInputText type="date"
                                        [(ngModel)]="agenda.fecha"
                                        [min]="minDate"
                                        required />
                                </ng-template>
                                <ng-template #output>
                                    {{agenda.fecha}}
                                </ng-template>
                            </p-cellEditor>

                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template #input>
                                    <input
                                        pInputText type="time"
                                        [(ngModel)]="agenda.hora"
                                        required />
                                </ng-template>
                                <ng-template #output>
                                    {{agenda.hora}}
                                </ng-template>
                            </p-cellEditor>

                        </td>
                        <td>
                            <p-tag [value]="agenda.status" [severity]="getSeverity(agenda.status)" />
                        </td>

                        <td>
                            <div class="flex items-center justify-center gap-2">
                                <button
                                    *ngIf="!editing"
                                    pButton
                                    pRipple
                                    type="button"
                                    pInitEditableRow
                                    icon="pi pi-pencil"
                                    (click)="editarColumna(agenda)"
                                    text
                                    rounded
                                    severity="secondary"
                                ></button>
                                <button
                                    *ngIf="editing"
                                    pButton
                                    pRipple
                                    type="button"
                                    pSaveEditableRow
                                    icon="pi pi-check"
                                    (click)="Guardaredit(agenda)"
                                    text
                                    rounded
                                    severity="secondary"
                                ></button>
                                <button
                                    *ngIf="editing"
                                    pButton
                                    pRipple
                                    type="button"
                                    pCancelEditableRow
                                    icon="pi pi-times"
                                    (click)="Canceledit(agenda, ri)"
                                    text
                                    rounded
                                    severity="secondary"
                                ></button>
                            </div>
                        </td>

                        <td>
                          <p-toast />
                                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (onClick)="confirmarBorrado(agenda)" />
                        </td>                                
                    </tr>
                </ng-template>
            </p-table>
            <p-confirmDialog></p-confirmDialog>
        </div>

    </div>

   


</div>



